# Maven target folders
target/
**/target/

# IDE files
.settings/
.idea/
.project
.classpath
.workspace.xml
.gitignore
.class

# Misc
/shelf/
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml
